{%extends 'base.html'%}


{% block head %}
<title> News Tracker Application </title>
    {% endblock %}

<body>

    {% block body %}
    <h1 class="home">
    Hello Guys... <br>
Happy to welcome You !
    </h1>
   
   <br><br>
    <h1>Abstract:</h1><h3><em>>>As worlds technology is rapidly growing we has fast 
connection and network to instantly connect to other person. <br>
    >>Day to day use in mobile, tablets and laptop is increasing, most 
of the people already have this facilities.<br>
    >>In this fast and 
information oriented world we need to stay updated with every 
incidents and news too.<br>
    >>This News tracker app is used in most of all the devices where user have access to latest news from 120+ 
newspapers from 50+ countries.<br>
    >>The main focus of this 
application is to connect news articles from all around the 
world and deliver it to user as fast as possible in best visualize way</em></h3>
   {% endblock %}
</body>
</html>