{% extends "base.html" %}

{% block head %}
<title>SIGNIN PAGE</title>
    {% endblock %}


    {% block body %}
    
    <h1 class="si">SIGNIN PAGE</h1><br>
    <form action="/signin" method="post" class="signin">
        <div class="signin">
     <label >Username</label><br>
     <input type="text" name="name"><br><br>
     <label >Password </label><br>
     <input type="password" name="Pwd"><br><br>
     <input type="submit" class="btn btn-primary">
    </div>
    </form>
    {% endblock %}


