{% extends "base.html" %}

{% block head %}
<title>SIGNUP PAGE</title>
    {% endblock%}

    {% block body %}
    <h1 class="su">SIGNUP PAGE</h1><br>

    <form action="/signup"  method="post" class="signup">
      <div class="signup">
       <label >Name</label><br>
       <input type="text" name="name"><br><br>
       <label >Email</label><br>
       <input type="text " name="mail"><br><br>
       <label >Phone</label><br>
       <input type="number" name="mob"><br><br>
       <label >Password</label><br>
       <input type="password" name="Pwd"><br><br>
       <label >Retype-password</label><br>
       <input type="password" name="rtp"><br><br>
       <input type="submit" class="btn btn-primary">
      </div>
    </form>
    {% endblock%}